<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82449701558-sujr3amreu1st6op0dfecvhvuiavoaiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82449701558-sujr3amreu1st6op0dfecvhvuiavoaiq</string>
	<key>API_KEY</key>
	<string>AIzaSyASCiSYb9_IuClbv8m5cn2m61EukCX69UY</string>
	<key>GCM_SENDER_ID</key>
	<string>82449701558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cod3r.chat</string>
	<key>PROJECT_ID</key>
	<string>cod3r-chat-3db02</string>
	<key>STORAGE_BUCKET</key>
	<string>cod3r-chat-3db02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82449701558:ios:d712d7515c3c9e265e6417</string>
</dict>
</plist>